<p>Sk&aelig;da ha sido una idea pensada y desarrollada por <a href="http://www.flux.cat">Flux</a>.</p>
<p>Gracies a <a href="http://es.linkedin.com/in/jordipuiggene">Jordi Puiggené Valls</a> por su colaboración en el desarrollo de este proyecto.</p>
<p>Esta página web se ha hecho gracias a <a href='http://www.enraona.com'>Enraona</a>.</p>
<p>
	Un agradecimiento especial a Josep Lluís Teodoro Peris por la idea del logotipo de la mariposa y el nombre Sk&aelig;da. 
	Gracias a el otra vez por la traducción de la versión italiana.
</p>
