<p>Sk&aelig;da was an idea conceived and developed by <a href="http://www.flux.cat">Flux</a>.</p>
<p>Thanks to Mr. <a href="http://es.linkedin.com/in/jordipuiggene">Jordi Puiggené Valls</a> by his collaboration in the development of this project.</p>
<p>This webpage was made thanks to <a href='http://www.enraona.com'>Enraona</a>.</p>
<p>
	Special thanks to Mr. Josep Lluís Teodoro Peris by his thoughts on Sk&aelig;da's butterfly logo and name. 
	And thanks again by his translate to Italian version.
</p>

