<p>Sk&aelig;da ha estat una idea pensada i desenvolupada per <a href="http://www.flux.cat">Flux</a>.</p>
<p>Gràcies a <a href="http://es.linkedin.com/in/jordipuiggene">Jordi Puiggené i Valls</a> per la seva col·laboració en el desenvolupament d'aquest projecte.</p>
<p>Aquesta pàgina web s'ha fet gràcies a <a href='http://www.enraona.com'>Enraona</a>.</p>
<p>
	Un agraïment especial a Josep Lluís Teodoro i Peris per la idea del logotip de la papallona i el nom Sk&aelig;da. 
	Gràcies a ell un altre cop per la traducció de la versió italiana.
</p>

