{strip}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{* <!--Com funciona:
	De base.conf s'agafa la configuració el nom de plantilla del cos de pàgina a mostrar  i els menus i submenus que s'han de veure i estar actius segons $pag_section, que és una variable que ens ha passat el php actiu.
	De $_diccionari, que és una variable generada amb codi idioma + .conf s'agafen les variables genèriques o més usuals [generics] i les corresponents a cada seccio ($pag_section)
	-->
*}
{assign var=_diccionari value=$infopag.idioma|cat:'.conf'}
{config_load file='base.conf' section=$infopag.subseccio}
{config_load file=$_diccionari section='generics'}
{config_load file=$_diccionari section=$infopag.subseccio}
{if #OPT_PARENT#}
	{config_load file=$_diccionari section=#OPT_PARENT#}
{/if}
{assign var='pagina' value=$transpag[$infopag.idioma]}
{assign var='_wr' value=$infopag._wr|coalesce:#_wr#:'/'}
{assign var='_uwr' value=$infopag._uwr|coalesce:#_wr#:'/'}
{assign var='smart_conts' value=`$infopag.subseccio`.html}


{/strip}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$infopag.idioma}" lang="{$infopag.idioma}">
<head>
  		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="image/x-icon" href="{$_wr}favicon.ico" rel="icon" />
		<link type="image/x-icon" href="{$_wr}favicon.ico" rel="shortcut icon" />
		<meta name="Description" content="{#DESCRIPCIO#}" />
		<meta name="keywords" content="{#PARAULESCLAU#}" />
		<meta name="robots" content="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
		<script src="{$_wr}js/jquery.cookie.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
		<link href="{$_wr}css/general.css" rel="stylesheet" type="text/css" />
		

<title>{#TITLE#|default:#TITOL#}{$infopag.titol_pag|separatxt}{#TITLE_CUA#|separatxt:'. '}</title>
</head>
	<body class="lang_{$infopag.idioma} {foreach from=$infopag.tree key=k item=i}sec-{$k} {/foreach}">

	<div id="capcelera">
		<div class="constrictor clearfix">
			<h1 class="cap_logo">
				<a href="{$_wr}{$pagina.inici}">
					<span class="notext">SKAEDA</span>
				</a>
			</h1>

			<div id="capcelera_menu">
				<ul class="menu_h menu_nav">
					<li {$infopag.tree.sup_overview|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.overview}">{#NAVS_OVERVIEW#}</a></li>
					<li {$infopag.tree.sup_tour|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.common_queries}">{#NAVS_TOUR#}</a></li>
					<li {$infopag.tree.sup_features|istrue:#_CLASSACT#} ><a href="{$_wr}{$pagina.general_structure}">{#NAVS_FEATURES#}</a></li>
					<li {$infopag.tree.sup_pricing|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.pricing}">{#NAVS_PRICING#}</a></li>
					<li {$infopag.tree.sup_support|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.faqs}">{#NAVS_SUPPORT#}</a></li>
				</ul>
				
				<ul class="menu_h menu_nav2">
					<li class="login">
						<a href="https://skaeda.com"><span>{#LOGIN#}</span></a>
					</li>
				</ul>
			</div>
		</div>
		{if #OPT_SUBMENU#}
		<div id="capcelera_submenu">
			<div class="constrictor clearfix">
				{include file='submenus_top.html'}
			</div>
		</div>
		{/if}
	</div>
	<div id="main">
		<div class="constrictor clearfix">
			<div id="conts">
			{*cos de la pàgina*}
			{include file=#OPT_PAG_CONTS#|istrue:'_self_':$smart_conts}
			</div>
		</div>
	</div>
	<div id="peu">
		<div class="constrictor clearfix">
		{if !$infopag.tree.sup_support}
			<p id="peu_signup">
				<span class="cd_msg">
					{#AD_SIGN_UP#}
					<a href="http://services.skaeda.com/?fun=newaccount{#SIGNUP_PARAMS#|istrue:'_self_'}"><span>{#AD_TRY_IT#}</span></a>
				</span>
				
			</p>
		{/if}
			<div class="llista_links">
				<dl>
					<dt>{#PEU_PRODUCT#}</dt>
					<dd> <a href="{$_wr}{$pagina.inici}" >{#PEU_HOME#}</a>  </dd>
					<dd> <a href="{$_wr}{$pagina.common_queries}" >{#PEU_TOUR#}</a> </dd>
					<dd> <a href="{$_wr}{$pagina.general_structure}" >{#PEU_FEATURES#}</a>  </dd>
				</dl>
				<dl>
					<dt>{#PEU_SUPPORT#}</dt>
					<dd> <a href="{$_wr}{$pagina.forum}" >{#PEU_FORUM#}</a>  </dd>
					<dd> <a href="{$_wr}{$pagina.use_bookmarklet}" >{#PEU_BOOKMARKLET#}</a> </dd>
					<dd> <a href="{$_wr}{$pagina.faqs}" >{#PEU_HELPCENTER#}</a>  </dd>
				</dl>
				<dl>
					<dt>{#PEU_COMPANY#}</dt>
					<dd> <a href="{$_wr}{$pagina.press}" >{#PEU_PRESS#}</a>  </dd>	
					<dd> <a href="{$_wr}{$pagina.about}" >{#PEU_SOBRE_EMPRESA#}</a></dd>
					<dd> <a href="{$_wr}{$pagina.contact}" >{#PEU_CONTACTE#}</a> </dd>
				</dl>
				<dl>
					<dt>{#PEU_NETWORK#}</dt>
					<dd> <a href="{$_wr}{$pagina.blog}" >{#PEU_BLOG#} </a> </dd>
					<dd> <a href="http://twitter.com/#!/skaeda" >{#PEU_TWITTER#}</a>  </dd>
					<dd> <a href="https://www.facebook.com/pages/Skaeda/141046745988308">{#PEU_FACEBOOK#}</a>  </dd>
				</dl>
				<dl>
					<dt>{#PEU_MORE#}</dt>
					<dd> <a href="{$_wr}{$pagina.security}" >{#PEU_SEGURITAT#}</a>  </dd>
					<dd> <a href="{$_wr}{$pagina.privacy_policy}" >{#PEU_PRIVACIDAD#}</a>  </dd>
					<dd> <a href="{$_wr}{$pagina.terms_service}" >{#PEU_SERVICIO#}</a>  </dd>
				</dl>
			</div>
			<div id="peu_extres">
				<div  class="lang_select">
					<select name="idiomes" id="combolng" onchange="">
					{foreach from=$idiomes key=codi item=nom name=loop}
						<option value="{$codi}|{$_wr}{$transpag.$codi[$infopag.subseccio]}" {$codi|choice:$infopag.idioma:#_FRSEL#}>{$nom}</option>
					{/foreach}	
					</select>
					<span class="notext">
					{foreach from=$idiomes key=codi item=nom name=loop}
						<a href="{$_wr}{$transpag.$codi[$infopag.subseccio]}">{$nom}</a>
					{/foreach}
					</span>
				</div>
				<a href="http://www.flux.cat" class="logo_peu_dreta notext" onclick="window.open(this.href);return false;"><span>Flux</span></a>
			</div>
		</div>
	</div>
	


<script type="text/javascript">
<!--

{literal}
$(document).ready(function() {
	$("#combolng").change(function() {
		lang=$("#combolng option:selected").val().split('|');
		$.cookie('idioma', lang[0])
		self.location=lang[1];
	});

	$('.llista_accordion div').hide();
	$('.llista_accordion a').click(function(event) {
		event.preventDefault();
		nextdiv = $(this).next('div');
		nextdiv.slideToggle();
		$(".llista_accordion div:visible").not(nextdiv).slideToggle();

	});
});
-->
</script>
{/literal}

</body>
</html>
