<!-- 
<p>Documentation</p>
<hr/>
-->
<ul class="llista_accordion">
	<li>
		<a href="#">{#MENU_WHAT_IS_SKAEDA#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_GENERAL_STRUCTURE#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_SMART_AND_MANUAL_GROUPS#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_SOCIAL_TAGGING#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_BOOKMARK_MANAGEMENT#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_QUICK_SEARCH#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_IMPORT_AND_EXPORT#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_BOOKMARKLET#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_INSTANT_SYNCHRONIZATION#}</a>
		<div>
			<p>available soon</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_SUBSCRIPTIONS_AND_INVITATIONS#}</a>
		<div>
			<p>available soon</p>
		</div>

	</li>
</ul>
<hr/>

<!-- 
<h2>Duis autem vel eum iriure, dolor in hendrerit in vulputate?</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
<hr/>
<h2>Duis autem vel eum iriure, dolor in hendrerit in vulputate?</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
-->