<p>Documentation</p>
<hr/>
<ul>
	<li><a href="#">What is Skaeda ?</a></li>
	<li><a href="#">General Structure</a></li>
	<li><a href="#">Smart and Manual Groups</a></li>
	<li><a href="#">Social Tagging</a></li>
	<li><a href="#">Bookmark Management</a></li>
	<li><a href="#">Quick Search</a></li>
	<li><a href="#">Import and Export</a></li>
	<li><a href="#">Bookmarklet</a></li>
	<li><a href="#">Instant Synchronization</a></li>
	<li><a href="#">Subscriptions and Invitations</a></li>
</ul>
<hr/>
<h2>Duis autem vel eum iriure, dolor in hendrerit in vulputate?</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
<hr/>
<h2>Duis autem vel eum iriure, dolor in hendrerit in vulputate?</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
