<p>Documentació</p>
<hr/>
<ul class="llista_accordion">
	<li>
		<a href="#">{#MENU_WHAT_IS_SKAEDA#}</a>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_GENERAL_STRUCTURE#}</a>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</li>
	<li>
		<a href="#">{#MENU_SMART_AND_MANUAL_GROUPS#}</a>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</li>
	<li><a href="#">{#MENU_SOCIAL_TAGGING#}</a></li>
	<li><a href="#">{#MENU_BOOKMARK_MANAGEMENT#}</a></li>
	<li><a href="#">{#MENU_QUICK_SEARCH#}</a></li>
	<li><a href="#">{#MENU_IMPORT_AND_EXPORT#}</a></li>
	<li><a href="#">{#MENU_BOOKMARKLET#}</a></li>
	<li><a href="#">{#MENU_INSTANT_SYNCHRONIZATION#}</a></li>
	<li><a href="#">{#MENU_SUBSCRIPTIONS_AND_INVITATIONS#}</a></li>
</ul>
<hr/>

<!-- 
<h2>Duis autem vel eum iriure, dolor in hendrerit in vulputate?</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
<hr/>
<h2>Duis autem vel eum iriure, dolor in hendrerit in vulputate?</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
-->