	<ul class="llista_gen2">
		<li>Sk&aelig;da lets you manage your personal web bookmarks from any browser connected to Internet.</li>
		<li>It organizes bookmarks into groups, smart groups and tags. It shows a thumbnail image of the bookmark.</li>
		<li>You can share links with your friends through Facebook, Twitter, Delicious and email.</li>
		<li>Made with HTML5, it allows you to drag&drop, real-time synchronize and instant search.</li>
		<li>Import and export your bookmarks from/to any browser.</li>
		<!-- <li>Designed to be as easy to use as possible</li> -->
		<!-- <li>Works on all the major browsers: Chrome, Firefox, Internet Explorer, Opera and Safari</li> -->
		<!--  -->
	</ul>
