	<ul class="llista_gen2">
		<li>Sk&aelig;da gestiona les teves pàgines web favorites des de qualsevol navegador connectat a Internet.</li>
		<li>Organitza els enllaços favorits amb grups, grups intel·ligents i etiquetes. Mostra una petita imatge del marcador.</li>
		<li>Comparteix enllaços amb els teus amics a través de Facebook, Twitter, Delicious i email.</li>
		<li>Fet amb HTML5, permet arrossegar i soltar, sincronització amb temps real i cerca instantània.</li>
		<li>Importa i exporta els teus marcadors des de qualsevol navegador.</li>
		<!-- <li>Dissenyat per a ser el més fàcil possible d'utilitzar</li> -->
		<!-- <li>Funciona amb tots els principals navegadors: Chrome, Firefox, Internet Explorer, Opera i Safari</li> -->
	</ul>
