	<ul class="llista_gen2">
		<li>Skaeda lets you manage web bookmarks from any computer connected to Internet</li>
		<li>Works on all the major browsers: Chrome, Firefox, Internet Explorer, Opera and Safari</li>
		<li>Share with your friends through Facebook, Twitter, Delicious or email</li>
		<li>Designed to be as easy to use as possible</li>
		<!-- <li>Organize bookmarks in groups, smart groups or tags</li> -->
		<!-- <li>Import and export your bookmarks from/to browsers or on-line bookmark managers</li> -->
	</ul>
