	<ul class="llista_gen2">
		<li>Skaeda gestiona los marcadors a páginas web favoritas desde cualquier navegador de Internet</li>
		<li>Funciona con los principales navegadores: Chrome, Firefox, Internet Explorer, Opera, Safari, etc.</li>
		<li>Diseñado para ser lo más fácil de utilizar posible</li>
		<li>Organiza los marcadores en grupos, grupos inteligentes y etiquetas</li>
		<li>Comparte con tus amigos a través de Facebook, Twitter, Delicious o email</li>
		<li>Importa y exposta marcadores desde navegadores i/o gestores online</li>
	</ul>
