	<ul class="llista_gen2">
		<li>Skaeda gestiona els marcadors a pàgines web favorites des de qualsevol navegador d'Internet</li>
		<li>Funciona amb els principals navegadors: Chrome, Firefox, Internet Explorer, Opera, Safari, etc.</li>
		<li>Dissenyat per a ser el més fàcil d'utilitzar possible</li>
		<li>Organitza els marcadors amb grups, grups intel·ligents i etiquetes</li>
		<li>Comparteix amb els teus amics a través de Facebook, Twitter, Delicious o email</li>
		<li>Importa i exporta marcadors des de navegadors i/o gestors online</li>
	</ul>
