	<ul class="llista_gen2">
		<li>Skaeda gestiona los marcadores a páginas web favoritas desde cualquier navegador conectado a Internet</li>
		<li>Funciona con todos los navegadores principales: Chrome, Firefox, Internet Explorer, Opera y Safari</li>
		<li>Comparte con tus amigos a través de Facebook, Twitter, Delicious o email</li>
		<li>Diseñado para ser lo más fácil de utilizar posible</li>
		<!-- <li>Organiza los marcadores en grupos, grupos inteligentes y etiquetas</li> -->
		<!-- <li>Importa y exposta marcadores desde navegadores i/o gestores online</li> -->
	</ul>
