	<ul class="llista_gen2">
		<li>Sk&aelig;da gestiona tus páginas web favoritas desde cualquier navegador conectado a Internet.</li>
		<li>Organiza los enlaces favoritos en grupos, grupos inteligentes y etiquetas. Muestra una pequeña imagen del marcador.</li>
		<li>Comparte enlaces con tus amigos a través de Facebook, Twitter, Delicious o email.</li>
		<li>Hecho con HTML5, permite arrastrar y soltar, sincronización en tiempo real y búsqueda instantánea.</li> 
		<li>Importa y exporta tus enlaces desde cualquier navegador.</li>
		<!--  <li>Diseñado para ser lo más fácil posible de utilizar</li> -->
		<!-- <li>Funciona con todos los principales navegadores: Chrome, Firefox, Internet Explorer, Opera y Safari</li> -->
	</ul>
