	<ul class="llista_gen2">
		<li>Sk&aelig;da lets you manage your personal web bookmarks from any browser connected to Internet.</li>
		<li>Organize bookmarks in groups, smart groups and tags. Shows bookmark thumbnail image.</li>
		<li>Share links with your friends through Facebook, Twitter, Delicious and email.</li>
		<li>Made with HTML5, drag&drop, real-time synchronize, instant search.</li>
		<li>Import and export your bookmarks from/to any browsers.</li>
		<!-- <li>Designed to be as easy to use as possible</li> -->
		<!-- <li>Works on all the major browsers: Chrome, Firefox, Internet Explorer, Opera and Safari</li> -->
		<!--  -->
	</ul>
