<p style='color:#C60'>1 de octubre de 2011</p>
<hr/>
<p>
Nace el primer servicio web para gestionar enlaces a páginas web favoritas pensado y hecho en España. 
Sk&aelig;da permite gestionar los enlaces favoritos y los visualiza con una imagen en miniatura. 
Los enlaces se pueden organizar por etiquetas, grupos y grupos inteligentes.
</p>
<p>
Los enlaces registrados por el usuario son privados y están alojados en la nube disponibles desde cualquier navegador web con acceso a Internet pero se pueden compartir 
fácilmente en las redes sociales. Importa todos tus favoritos del navegador de una vez o añádelos a tu cuenta mientras navegas con nuestro bookmarklet.
</p>
<p>
Sk&aelig;da esta hecho con <a href='http://es.wikipedia.org/wiki/HTML5'>HTML5</a> y utiliza la innovadora API <a href='http://es.wikipedia.org/wiki/WebSocket'>WebSocket</a> que permite sincronizar 
en tiempo real diferentes sesiones a la vez. 
La aplicación funciona sin refrescar o recargar nunca la URL de trabajo. Se ha hecho un desarrollo exhaustivo con JavaScript que ha dotado a la aplicación de una 
funcionalidad similar a la de las aplicaciones de escritorio convencionales como la técnica de arrastrar y soltar o la búsqueda instantánea.
</p>
<p>
Más información aquí <a href='http://www.skaeda.com/inicio'>www.skaeda.com</a>
</p>