<p style='color:#C60'>October 1st, 2011</p>
<hr/>
<p>
The first HTML5 webapp to manage your favorite web links is born. Sk&aelig;da allows you to manage bookmarks and displays a thumbnail image. 
The bookmarks can be organized by tags, groups and smart groups.
</p>
<p>
Links registered by the user are private and hosted in the cloud. They are available from any browser with Internet access and can be shared on social networks easily. 
You can import all your favorite bookmarks at a time or add them to your account while browsing with our bookmarklet.
</p>
<p>
Sk&aelig;da was made with <a href='http://en.wikipedia.org/wiki/HTML5'>HTML5</a> and uses the innovative <a href='http://en.wikipedia.org/wiki/WebSocket'>WebSocket</a> API 
that lets you real-time synchronization on several sessions at once. The application works without refreshing or reloading the URL. 
There has been a comprehensive development with JavaScript that has given similar functionality to that of conventional 
desktop applications like drag and drop or instant search.
</p>
<p>
More information on <a href='http://www.skaeda.com'>www.skaeda.com</a>
</p>