<p style='color:#C60'>1 d'octubre de 2011</p>
<hr/>
<p>
Neix el primer servei web per a gestionar enllaços a pàgines web favorites pensat i fet amb català. 
Sk&aelig;da organitza els enllaços favorits i els visualitza amb una imatge en miniatura. 
Els enllaços es poden organitzar per etiquetes, grups i grups intel·ligents.
</p>
<p>
Els enllaços registrats per l'usuari són privats i estan allotjats al núvol disponibles des de qualsevol navegador web amb accés a Internet però es poden compartir 
fàcilment a les xarxes socials. Importa tots els teus favorits del navegador de cop o afegeix-los al teu compte mentre navegues amb el nostre bookmarklet.
</p>
<p>
Sk&aelig;da està fet amb <a href='http://ca.wikipedia.org/wiki/HTML5'>HTML5</a> i usa la innovadora API WebSocket que permet sincronitzar en temps real diferents sessions alhora. 
L'aplicació funciona sense refrescar o recarregar mai la URL de treball. S'ha fet un desenvolupament exhaustiu amb JavaScript que ha dotat a 
l'aplicació de funcionalitats similars a les de les aplicacions d'escriptori convencionals com la tècnica d'arrossegar i soltar o la cerca instantània.
</p>
<p>
Més informació aquí <a href='http://www.skaeda.com/inici'>www.skaeda.com</a>
</p>