<div class="cos">
	<h1>{#TITOL#}</h1>
	<div class="cos_col1">
		{include file=$infopag.subseccio|cat:'.lang.':$infopag.idioma:'.html'}
	</div>
	<div class="cos_col2">
		<div id="conts_pricetable">
			<table>
				<tr>
					<th></th>
					<th>{#FREE_ACCOUNT#}</th>
					<th>{#PREMIUM_ACCOUNT#}</th>
				</tr>
				<tr>
					<td>{#PRICE#}</td>
					<td>0 €</td>
					<td>24 €</td>
				</tr>
				<tr>
					<td>{#BILLING_CYCLE#}</td>
					<td>{#NONE#}</td>
					<td>{#ANUALLY#}</td>
				</tr>
				<tr>
					<td>{#BOOKMARKS_LIMIT#}</td>
					<td>100</td>
					<td>{#UNLIMITED#}</td>
				</tr>
			</table>
		</div>
	</div>
</div>