<div class="cos">
	<h1>{#TITOL#}</h1>
	<div class="cos_col1">
		{include file=$infopag.subseccio|cat:'.lang.':$infopag.idioma:'.html'}
	</div>
	<div class="cos_col2">
		<div id="conts_pricetable">
			<table>
				<tr>
					<th></th>
					<th class="free_account">{#FREE_ACCOUNT#}</th>
					<th class="premium_account">{#PREMIUM_ACCOUNT#}</th>
				</tr>
				<tr>
					<td class="col1">{#PRICE#}</td>
					<td class="col2">0 €</td>
					<td class="col3">12 € / {#YEAR#}</td>
				</tr>
				<tr>
					<td class="col1">{#DEDICATED_SUPPORT#}</td>
					<td class="col2">{#NO#}</td>
					<td class="col3">{#YES#}</td>
				</tr>
				<tr>
					<td class="col1">{#BOOKMARKS_LIMIT#}</td>
					<td class="col2">100</td>
					<td class="col3">{#UNLIMITED#}</td>
				</tr>
			</table>
		</div>
	</div>
</div>