<!-- 
	<p><strong>Free account</strong>: el límit d’enllaços es pot augmentar fins a 200 invitant fins a 4 usuaris nous (+25 enllaços/usuari)</p>
	<p><strong>Premium account</strong>: Al finalitzar la subscripció es pot renovar o degradar a un compte lliure. Al degradar la subscripció, es torna a aplicar el límit d’enllaços però el sistema guarda tots els enllaços excedits sense permetre agregar-ne de nous.</p>
-->

<p><strong>Free account:</strong>
	<li>Create a free 100-bookmarks limited account</li>
	<li>Invite your friends to the Skaeda's service</li>
	<li>Each friend that register a free or premium account will give you 25 extra bookmarks</li>
	<li>This way, you can get up to 200-bookmarks on a free account</li>
</p>
<p><strong>Premium account:</strong>
	<li>Deal with unlimited bookmarks</li>
	<li>Get online personal support</li>
</p>