<p>
  <strong>* Free account:</strong>
</p>
<ul>
  <li>Sign up and get a free Premium12 subscription for 30 days</li>
	<li>Starts with 100-bookmarks limit</li>
	<li>Invite your friends to the Sk&aelig;da's service</li>
	<li>Each friend that register will give you 50 extra bookmarks up to a maxium of 250</li>
</ul>

<!-- 
<p>
	<strong>Premium account:</strong>
</p>
<ul>
	<li>Deal with unlimited bookmarks</li>
	<li>Get dedicated support</li>
</ul>

<hr/>

<p>
  <strong>Offer!</strong> Sign up and get a free premium subscription for 30 days
</p>
-->