<p>
Segons la Llei orgànica 15/99 del 13 de desembre de la legislació espanyola sobre la protecció de dades de caràcter personal, 
li fem saber que les dades que ens pugui facilitar mitjançant aquest web passaran a formar part d'un fitxer propietat de Flexible User Experience SL, 
amb l'única finalitat de poder-li oferir els nostres serveis.
</p>
<p>
Per exercir el seu dret d'accés, rectificació, cancel·lació i oposició posi's en contacte amb nosaltres a través de correu electrònic en <a href='mailto:info@flux.cat'>info@flux.cat</a> o per correu postal en:<br/>
Flux SL
</p>
<p>
Avda. Sebastià Joan Arbó, 6<br/>
43870 Amposta, Tarragona<br/>
(Spain)
</p>
<hr/>
<p>
A Flux no ens agrada el spam, contribuim a erradicar-ho.
</p>