<p>
En cumplimiento del que establece la Ley Orgánica 15/1999 de la legislación española de 13 de diciembre sobre la Protección de Datos de Carácter Personal (LOPD), 
y su correspondiente R.D. 1720/2007, le comunicamos que sus datos personales pasarán a formar parte de un fichero propiedad de Flexible User Experience SL 
(<a href='http://www.flux.cat'>FLUX</a>), debidamente registrado a la Agencia Española de Protección de Datos con la única finalidad de poder ofrecerle nuestros servicios.
</p>
<p>
Sus datos son necesarios para darse de alta al servicio Sk&aelig;da y sin estos datos no será posible acceder a la prestación del servicio. 
En este sentido, usted acepta expresamente la recogida y tratamiento de los mismos al aceptar las
<a href='http://www.skaeda.com/condiciones-del-servicio'>Condiciones del servicio</a> del contrato.
</p>
<p>
Para el uso de esta página web es necesario alojar una galleta (<em>cookie</em>) en su navegador de Internet con el único fin de recordar el idioma 
que ha elegido para visualizar la página. Si usted lo desea, puede configurar su navegador para bloquear el alojamiento de la galleta en su disco duro.
</p>
<p>
Para ejercer su derecho de acceso, rectificación, cancelación y oposición póngase en contacto con nosotros a través de la dirección de correo electrónico 
<a href='mailto:lopd@flux.cat'>lopd@flux.cat</a> 
</p>
<p>
Flux se compromete explícitamente a mantener confidenciales todos los datos recibidos a través de esta página web. Estos datos podrán ser tratados con 
fines comerciales pero en ningún caso podrán ser destinados a otros fines ni serán entregados a terceros.
</p>
<hr/>
<p>
En Flux no nos gusta el spam, contribuimos a erradicarlo.
</p>