<p>
Según la Ley orgánica 15/99 del 13 de diciembre de la legislación española sobre la protección de datos de carácter personal, 
le hacemos saber que los datos que nos pueda facilitar mediante este sitio web pasarán a formar parte de un fichero propiedad de Flexible User Experience SL, 
con la única finalidad de poderle ofrecer nuestros servicios.
</p>
<p>
Para ejercer su derecho de acceso, rectificación, cancelación y oposición póngase en contacto con nosotros a través de correo electrónico en <a href='mailto:info@flux.cat'>info@flux.cat</a> 
o por correo postal en:
</p>
<p>
Flux SL<br/>
Avda. Sebastian Joan Arbó, 6<br/>
43870 Amposta, Tarragona<br/>
(Spain)
</p>
<hr/>
<p>
En Flux no nos gusta el spam, contribuimos a erradicarlo.
</p>
