<p>
According to Organic Law 15/1999 of the Spanish legislation of 13 December on the Protection of Personal Data (LOPD),
and the corresponding R.D. 1720/2007, we inform you that your personal data will become part of a file owned by Flexible User Experience SL 
(<a href='http://www.flux.cat'>FLUX</a>), duly registered at the Spanish Agency for Data Protection with the sole aim to offer you our services.
</p>
<p>
Your data are required to register Sk&aelig;da service and without this information it will not be possible to access the service. 
In this sense, you expressly consent to the collection and processing of them to accept the 
<a href='http://www.skaeda.com/terms-of-service'>Terms of service</a> agreement.
</p>
<p>
To use of this website it is necessary to save a cookie in your browser for the sole purpose of remembering the language you have chosen to display the page. 
If you wish, you can set your browser to block the housing of the cookie on your hard drive.
</p>
<p>
To exercise your right of access, rectification, cancellation and opposition contact us through the email address
 <a href='mailto:lopd@flux.cat'>lopd@flux.cat</a> 
</p>
<p>
Flux explicitly agrees to keep confidential all information received through this website. 
This data may be processed for commercial purposes but in no case be used for other purposes and will not be provided to third parties.
</p>
<hr/>
<p>
At Flux we do not like spam and contribute to eradicate it.
</p>