<h2>
All data stored on Sk&aelig;da is safe, secure, and reliable. For us, it’s the only way to do business.
</h2>
<h3>How We Keep Your Data Safe</h3>
<p>
All Sk&aelig;da accounts use SSL-encrypted connections by default. 
You never send or receive sensitive information in plain-text. 
Additionally, industry-standard physical and remote security is administered at datacenter facilities.
</p>
<h3>Serious Privacy</h3>
<p>
Sk&aelig;da is certified by GeoTrust, an independent privacy services provider, to ensure your privacy is protected. 
You can review our Privacy Policy for further information.
</p>
<h3>Industry Standard Security</h3>
<p>
Sk&aelig;da systems and processes adhere to industry best practices in security, including the following:
<ul>
	<li>Encrypted inter-server and inter-datacenter communication.</li>
	<li>Sensitive data encryption in the databases.</li>
	<li>Strictly controlled access to servers or customer data.</li>
</ul>
