<h2>
Todos los datos almacenados en Sk&aelig;da son seguros y confiables. Para nosotros, es la única manera de hacer negocios.
</h2>
<h3>Cómo mantener sus datos seguros</h3>
<p>
Todas las cuentas Sk&aelig;da utilizan por defecto conexiones cifradas SSL. 
Nunca se envia o recibe información sensible en texto plano. 
</p>
<h3>Privacidad profesional</h3>
<p>
Sk&aelig;da está certificada por <a href='http://www.geotrust.com/'>GeoTrust</a>, un proveedor independiente de servicios de privacidad, para asegurar que su privacidad está protegida. 
Usted también puede revisar nuestra <a href='http://www.skaeda.com/politica-de-privacidad'>Política de Privacidad</a> para obtener más información.
</p>
<h3>Estándar de la Industria de Seguridad</h3>
<p>
Los sistemas y procesos de Sk&aelig;da se adhieren a las mejores prácticas en materia de seguridad, incluyendo las siguientes:
<ul>
	<li>Cifrado entre el servidor y el cliente y otros centros de datos.</li>
	<li>Cifrado de datos sensibles en las bases de datos.</li>
	<li>Control estricto de acceso a los servidores o los datos del cliente.</li>
</ul>

