<h2>
Totes les dades emmagatzemades a Sk&aelig;da són segures i confiables. Per a nosaltres, és l'única forma de fer negocis.
</h2>
<h3>Com mantenim les seves dades segures</h3>
<p>
Tots els comptes Sk&aelig;da usen per defecte connexions xifrades SSL. 
Mai s'envia o rep informació sensible amb text pla. 
</p>
<h3>Privacitat profesional</h3>
<p>
Sk&aelig;da està certificada per <a href='http://www.geotrust.com/'>GeoTrust</a>, un proveïdor independent de serveis de privacitat, per a garantitzar que la seva privacitat està protegida. 
Vostè també pot revisar la nostra <a href='http://www.skaeda.com/politica-de-privacitat'>Política de Privacitat</a> per a obtenir més informació.
</p>
<h3>Estàndar de la Industria de Seguretat</h3>
<p>
Els sistemes i processos de Sk&aelig;da s'adhereixen a les millors pràctiques en materia de seguretat, incloses les següents:
<ul>
	<li>Comunicació amb dades xifrades entre el servidor i el client.</li>
	<li>Dades sensibles emmagatzemades a la base de dades xifrades.</li>
	<li>Control estricte d'accès als servidors o les dades del client.</li>
</ul>

