<div id="conts_menu">
	<ul class="menu_lat">
	{if $infopag.tree.sup_overview}
		<li {$infopag.tree.overview|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.overview}">{#MENU_OVERVIEW_1#}</a></li>
		<li {$infopag.tree.overview|istrue:#_CLASSACT#}><a href="">{#MENU_OVERVIEW_2#}</a></li>
		<li {$infopag.tree.overview|istrue:#_CLASSACT#}><a href="">{#MENU_OVERVIEW_3#}</a></li>
		<li {$infopag.tree.overview|istrue:#_CLASSACT#}><a href="">{#MENU_OVERVIEW_4#}</a></li>
		<li {$infopag.tree.overview|istrue:#_CLASSACT#}><a href="">{#MENU_OVERVIEW_5#}</a></li>
		<li {$infopag.tree.overview|istrue:#_CLASSACT#}><a href="">{#MENU_OVERVIEW_6#}</a></li>
	{elseif $infopag.tree.sup_tour}
		<li {$infopag.tree.general_behavior|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.general_behavior}">{#MENU_GENERAL_BEHAVIOR#} <span>2:15</span></a></li>		
		<li {$infopag.tree.social_sharing|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.social_sharing}">{#MENU_SOCIAL_SHARING#} <span>1:25</span></a></li>	
		<li {$infopag.tree.real_time|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.real_time}">{#MENU_REAL_TIME#} <span>0:58</span></a></li>	
		<li {$infopag.tree.import_export|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.import_export}">{#MENU_IMPORT_EXPORT#} <span>1:47</span></a></li>
	{elseif $infopag.tree.sup_features}
		<!-- <li {$infopag.tree.what_is_skaeda|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.what_is_skaeda}">{#MENU_WHAT_IS_SKAEDA#}</a></li> -->
		<li {$infopag.tree.general_structure|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.general_structure}">{#MENU_GENERAL_STRUCTURE#}</a></li>
		<li {$infopag.tree.smart_manual_groups|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.smart_manual_groups}">{#MENU_SMART_AND_MANUAL_GROUPS#}</a></li>
		<li {$infopag.tree.social_tagging|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.social_tagging}">{#MENU_SOCIAL_TAGGING#}</a></li>
		<li {$infopag.tree.bookmark_management|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.bookmark_management}">{#MENU_BOOKMARK_MANAGEMENT#}</a></li>
		<li {$infopag.tree.quick_search|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.quick_search}">{#MENU_QUICK_SEARCH#}</a></li>
		<li {$infopag.tree.import_and_export|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.import_and_export}">{#MENU_IMPORT_AND_EXPORT#}</a></li>
		<li {$infopag.tree.bookmarklet|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.bookmarklet}">{#MENU_BOOKMARKLET#}</a></li>
		<li {$infopag.tree.instant_synchronization|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.instant_synchronization}">{#MENU_INSTANT_SYNCHRONIZATION#}</a></li>
		<!-- <li {$infopag.tree.subscriptions_invitations|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.subscriptions_invitations}">{#MENU_SUBSCRIPTIONS_AND_INVITATIONS#}</a></li> -->
	{elseif $infopag.tree.sup_support}	
		<li {$infopag.tree.faqs|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.faqs}">{#MENU_FAQS#}</a></li>		
		<li {$infopag.tree.developpers|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.developpers}">{#MENU_DEVELOPPERS#}</a></li>	
		<li {$infopag.tree.forum|istrue:#_CLASSACT#}><a href="{$_wr}{$pagina.forum}">{#MENU_FORUM#}</a></li>		
	{/if}
	</ul>
</div>