<h2>{#TITOL#}</h2>
        <p>Flexible User Experience, S.L. ("Flux" or "we" or "us") welcomes you to the Skaeda service (the "Service").</p> 
        <p>Skaeda provides services that allow you to back up, synchronize, and
        remotely access your bookmarks and (on some platforms) your passwords
        ("Synchronization"). We provide these services through our website. We ask that
        you read these Terms of Service (the "Terms"), because, by using this
        Service, you agree to comply with and be legally bound by these Terms.
        If you do not agree to these Terms, please do not use the Service. We
        may change these Terms at any time and our changes are effective when
        posted on this page. If we make material changes to the Terms, we will
        post a message on our blog detailing those changes. What constitutes a
        "material change" will be determined at our sole discretion, in good
        faith and using common sense and reasonable judgment. By continuing to
        use the Service, you agree to be legally bound by the new Terms.</p> 
        <h2>Using the Service</h2> 
        <p>The Service is made available for your personal, non-commercial use.
        It does not include reselling or repurposing any Skaeda product,
        service, or data. If you are unclear about whether your use is
        acceptable under these terms, please contact us at
        support@skaeda.com.</p> 
        <p>We are pleased to make the Service available to you, but we reserve
        the right to terminate or suspend the Service (or your use of the
        Service) at any time without notice and without liability in our sole
        discretion.  Upon termination, you continue to be bound by this
        Agreement. You may use the Service to help you to synchronize your
        bookmarks or to find other websites, but you are solely responsible for
        your selection of those bookmarks and websites. You are also
        responsible for your use of the Service, and your actions in relation
        to those websites.</p> 
        <p>You do not have to register in order to use the Service.  To access
        certain features of the Service, though, such as synchronizing your
        bookmarks, you will need to register with Skaeda to create a Web
        Account.  Your account gives you access to the services and
        functionality that we may establish and maintain from time to time and
        in our sole discretion.  If you open an account on behalf of a company,
        organization, or other entity, then (a) "you" includes you and that
        entity, and (b) you represent and warrant that you are an authorized
        representative of the entity with the authority to bind the entity to
        this Agreement, and that you agree to this Agreement on the entity’s
        behalf.</p> 
        <p>You may never use someone else’s account without permission.  When
        creating your account, you must provide accurate and complete
        information. You are solely responsible for the activity that occurs on
        your account, and you must keep your account password secure. You must
        notify Skaeda of any breach of security or unauthorized use of your
        account immediately after you become aware of it. Skaeda will not be
        liable for any losses caused by any unauthorized use of your
        account.</p> 
        <p>You may control your account and how you interact with the Service
        by changing the settings in your My Account page; some additional
        settings specific to the Add-ons are available via the Settings page
        within the Add-on.</p> 
        <p>By providing Skaeda your email address you consent to our using the
        email address to send you Service-related notices, including any
        notices required by law, in lieu of communication by postal mail.  We
        may also use your email address to send you other messages, such as
        changes to features of the Service and special offers.  If you do not
        want to receive such email messages, you may opt out by changing your
        preferences in your My Account page.  Opting out may prevent you from
        receiving email messages regarding updates, improvements, or
        offers.</p> 
        <p>You agree NOT to engage in the following prohibited activities: (i)
        copying, distributing, or disclosing any part of the Service in any
        medium, including without limitation by any automated or non-automated
        "scraping"; (ii) using any automated system, including without
        limitation "robots," "spiders," "offline readers," etc., to access the
        Service in a manner that sends more request messages to the Skaeda
        servers than a human can reasonably produce in the same period of time
        by using a conventional on-line web browser (except that Skaeda grants
        the operators of public search engines revocable permission to use
        spiders to copy materials from www.skaeda.com for the sole purpose of and
        solely to the extent necessary for creating publicly available
        searchable indices of the materials, but not caches or archives of such
        materials); (iii) transmitting spam, chain letters, or other
        unsolicited email; (iv) attempting to interfere with, compromise the
        system integrity or security or decipher any transmissions to or from
        the servers running the Service; (v) taking any action that imposes, or
        may impose at our sole discretion an unreasonable or disproportionately
        large load on our infrastructure; (vi) uploading invalid data, viruses,
        worms, or other software agents through the Service; (vii) collecting
        or harvesting any personally identifiable information, including
        account names, from the Service; (viii) using the Service for any
        commercial solicitation purposes; (ix) impersonating another person or
        otherwise misrepresenting your affiliation with a person or entity,
        conducting fraud, hiding or attempting to hide your identity; (x)
        interfering with the proper working of the Service; (xi) accessing any
        content on the Service through any technology or means other than those
        provided or authorized by the Service; or (xii) bypassing the measures
        we may use to prevent or restrict access to the Service, including
        without limitation features that prevent or restrict use or copying of
        any content or enforce limitations on use of the Service or the content
        therein.  You are allowed to (a) take screenshots of the Service and
        (b) cache the Service for purposes of improving performance or
        archiving.</p> 
        <p>All aspects of the Service are subject to change or elimination at
        Skaeda's sole discretion.  Skaeda reserves the right to interrupt the
        Service with or without prior notice. You agree that Skaeda will not be
        liable to you for any interruption of the Service, delay or failure to
        perform.</p> 
        <p>You are solely responsible for your interactions with other Skaeda
        Users. We reserve the right, but have no obligation, to monitor
        disputes between you and other Users.  Skaeda shall have no liability
        for your interactions with other Users, or for any User’s action or
        inaction.</p> 
        <h2>Privacy</h2> 
        <p>We care about the privacy of our users.  Information that we receive
        from you will be subject to our <a style="text-decoration: underline;             color: blue;" target="_blank" href="http://www.skaeda.com/privacy">Privacy Policy</a>.  We may post
        updates to this policy from time to time and those updates are
        effective when posted. In order to manage, administer and provide the
        service, or as required by law or order, we may access files and data
        provided by you for use in the Service. By using the Service, you are
        consenting to have your personal data transferred to and processed in
        the United States.</p> 
        <h2>Security</h2> 
        <p>We have implemented commercially reasonable technical and
        organizational measures designed to secure your personal information
        from accidental loss and from unauthorized access, use, alteration or
        disclosure. However, we cannot guarantee that unauthorized third
        parties will never be able to defeat those measures or use your
        personal information for improper purposes. You acknowledge that you
        provide your personal information at your own risk.</p> 
        <h2>Copyright and Software License</h2> 
        <p>The software comprising the Skaeda Add-ons is copyright Skaeda 2009.
        The content we originate on Skaeda.com or SearchTabs.com ("Our
        Website") is also copyright Skaeda 2011.  Skaeda grants you a
        non-transferable, non-exclusive, non-sublicensable, royalty-free and
        fully paid, worldwide right and license to reproduce (solely to install
        and execute) the Skaeda Add-ons, in the form provided only, for your
        personal, non-commercial use only, subject to the terms and conditions
        of these Terms.  You are permitted to download the Skaeda Add-ons on as
        many computers and as many times as you like, provided that you agree
        to these Terms each time you download or install the Skaeda Add-on.</p> 
        <h2>Intellectual Property</h2> 
        <p>Our trademarks include Skaeda, the Skaeda logo and design. They may not be used without our
        express written permission. We reserve title and our other rights in
        these trademarks and in our other intellectual property available on
        Our Website and in the Skaeda Add-ons.</p> 
        <h2>User Content</h2> 
        <p>Some areas of the Service may allow Users to post feedback,
        comments, questions, reviews, and other information ("User Content").
        You are solely responsible for your User Content that you upload,
        publish, display, link to or otherwise make available (hereinafter,
        "post") on the Service, and you agree that we are only acting as a
        passive conduit for the online distribution and publication of your
        User Content.  You understand that whether or not such User Content is
        published, Skaeda does not guarantee any confidentiality with respect
        to any User Content.</p> 
        <p>You agree not to post User Content that: (i) may create a risk of
        harm, loss, physical or mental injury, emotional distress, death,
        disability, disfigurement, or physical or mental illness to you, to any
        other person, or to any animal; (ii) may create a risk of any other
        loss or damage to any person or property; (iii) seeks to harm or
        exploit children by exposing them to inappropriate content, asking for
        personally identifiable details or otherwise; (iv) may constitute or
        contribute to a crime or tort; (v) contains any information or content
        that we deem to be unlawful, harmful, abusive, racially or ethnically
        offensive, defamatory, infringing, invasive of personal privacy or
        publicity rights, harassing, humiliating to other people (publicly or
        otherwise), libelous, threatening, profane, or otherwise objectionable;
        (vi) contains any information or content that is illegal (including,
        without limitation, the disclosure of insider information under
        securities law or of another party’s trade secrets); (vii) contains any
        information or content that you do not have a right to make available
        under any law or under contractual or fiduciary relationships; or
        (viii) contains any information or content that you know is not correct
        and current.  You agree that any User Content that you post does not
        and will not violate third-party rights of any kind, including without
        limitation any Intellectual Property Rights (as defined below), rights
        of publicity and privacy.   Skaeda reserves the right, but is not
        obligated, to reject and/or remove any User Content that Skaeda
        believes, in its sole discretion, violates these provisions.  You
        understand that publishing your User Content on the Service is not a
        substitute for registering it with the U.S. Copyright Office, the
        Writer’s Guild of America, or any other rights organization.</p> 
        <p>For the purposes of this Agreement, "Intellectual Property Rights"
        means all patent rights, copyright rights, mask work rights, moral
        rights, rights of publicity, trademark, trade dress and service mark
        rights, goodwill, trade secret rights and other intellectual property
        rights as may now exist or hereafter come into existence, and all
        applications therefore and registrations, renewals and extensions
        thereof, under the laws of any state, country, territory or other
        jurisdiction.</p> 
        <p>Skaeda takes no responsibility and assumes no liability for any User
        Content that you or any other User or third party posts on the Service.
        You understand and agree that any loss or damage of any kind that
        occurs as a result of the use of any User Content that you post is
        solely your responsibility.  Skaeda is not responsible for any public
        display or misuse of your User Content.  You understand and acknowledge
        that you may be exposed to User Content that is inaccurate, offensive,
        indecent, objectionable, or inappropriate for children, and you agree
        that Skaeda shall not be liable for any damages you allege to incur as
        a result of such User Content.</p> 
        <h2>License Grant</h2> 
        <p>You retain all your ownership rights in your User Content.  By
        posting any User Content on the Service, you expressly grant, and you
        represent and warrant that you have a right to grant, to Skaeda a
        royalty-free, sublicensable, transferable, perpetual, irrevocable,
        non-exclusive, worldwide license to use, reproduce, modify, publish,
        list information regarding, edit, translate, distribute, publicly
        perform, publicly display, and make derivative works of all such User
        Content and your name, voice, and/or likeness as contained in your User
        Content, in whole or in part, and in any form, media or technology,
        whether now known or hereafter developed, for use in connection with
        the Service and Skaeda’ (and its successors’ and affiliates’) business,
        including without limitation for promoting and redistributing part or
        all of the Service (and derivative works thereof) in any media formats
        and through any media channels.  You also hereby grant each User of the
        Service a non-exclusive license to access your User Content through the
        Service, and to use, reproduce, distribute, display and perform such
        User Content as permitted through the functionality of the Service and
        under this Agreement.</p> 
        <p>You understand and agree that Skaeda is permitted to make use of
        data aggregated from  any bookmarks you synchronize using the Service.
        For example, Skaeda may use the aggregate data to provide users with a
        list of the most popular sites within a given topic area. If you do not
        wish your bookmarks to be aggregated in this fashion, you may opt-out
        by visiting your My Account page.</p> 
        <h2>Additional Representations and Warranties</h2> 
        <p>You shall be solely responsible for your own User Content and the
        consequences of posting or publishing it.  In connection with your User
        Content, you affirm, represent and warrant, in addition to the other
        representations and warranties in this Agreement, the following: </p> 
        <ol style="list-style-type: lower-alpha"> 
            <li>You are at least 18 years of age, or if you are under 18 years
            of age you are either an emancipated minor, or possess legal
            parental or guardian consent, and are fully able and competent to
            enter into the terms, conditions, obligations, affirmations,
            representations, and warranties set forth in this Agreement, and to
            abide by and comply with this Agreement.</li> 
            <li>You have the written consent of each and every identifiable
            natural person in the User Content to use such person’s name or
            likeness in the manner contemplated by the Service and this
            Agreement, and each such person has released you from any liability
            that may arise in relation to such use.</li> 
            <li>Your User Content and Skaeda' use thereof as contemplated by
            this Agreement and the Service will not infringe any rights of any
            third party, including but not limited to any Intellectual Property
            Rights, privacy rights and rights of publicity.</li> 
            <li>Skaeda may exercise the rights to your User Content granted
            under this Agreement without liability for payment of any guild
            fees, residuals, payments, fees, or royalties payable under any
            collective bargaining agreement or otherwise.</li> 
        </ol> 
        <h2>Our Proprietary Rights</h2> 
        <p>Except for your own User Content, the Service and all materials
        therein or transferred thereby, including, without limitation,
        software, images, text, graphics, illustrations, logos, patents,
        trademarks, service marks, copyrights, photographs, audio, videos,
        music, and User Content (the "Skaeda Content"), and all Intellectual
        Property Rights related thereto, are the exclusive property of Skaeda
        and its licensors.  Except as explicitly provided herein, nothing in
        these Terms shall be deemed to create a license in or under any such
        Intellectual Property Rights, and you agree not to sell, license, rent,
        modify, distribute, copy, reproduce, transmit, publicly display,
        publicly perform, publish, adapt, edit or create derivative works from
        any materials or content accessible on the Service.  Use of the Skaeda
        Content or materials on the Service for any purpose not expressly
        permitted by these Terms is strictly prohibited.</p> 
        <p>You may choose to or we may invite you to submit comments or ideas
        about the Service, including without limitation about how to improve
        the Service or our products ("Ideas").  By submitting any Idea, you
        agree that your disclosure is gratuitous, unsolicited and without
        restriction and will not place Skaeda under any fiduciary or other
        obligation, and that we are free to use the Idea without any additional
        compensation to you, and/or to disclose the Idea on a non-confidential
        basis or otherwise to anyone.  You further acknowledge that, by
        acceptance of your submission, Skaeda does not waive any rights to use
        similar or related ideas previously known to Skaeda, or developed by
        its employees, or obtained from sources other than you.</p> 
        <h2>DMCA Notice</h2> 
        <p>If you believe that your copyrighted work has been copied in a way
        that constitutes copyright infringement and is accessible via the
        Service, please notify Skaeda' copyright agent, as set forth in the
        Digital Millennium Copyright Act of 1998 ("DMCA").  For your complaint
        to be valid under the DMCA, you must provide the following information
        in writing:</p> 
        <ol> 
            <li>An electronic or physical signature of a person authorized to
            act on behalf of the copyright owner;</li> 
            <li>Identification of the copyrighted work that you claim has been
            infringed;</li> 
            <li>Identification of the material that is claimed to be infringing
            and where it is located on the Service;</li> 
            <li>Information reasonably sufficient to permit Skaeda to contact
            you, such as your address, telephone number, and, e-mail
            address;</li> 
            <li>A statement that you have a good faith belief that use of the
            material in the manner complained of is not authorized by the
            copyright owner, its agent, or law; and</li> 
            <li>A statement, made under penalty of perjury, that the above
            information is accurate, and that you are the copyright owner or
            are authorized to act on behalf of the owner.</li> 
        </ol> 
        <p>The above information must be submitted to the following DMCA
        Agent:</p> 
        <table> 
            <tr><td>Attn: </td><td>DMCA Notice</td></tr> 
            <tr><td></td><td>Skaeda, Inc.</td></tr> 
            <tr><td>Address: </td><td>543 Howard Street, 5th Floor</td></tr> 
            <tr><td></td><td>San Francisco, CA 94105</td></tr> 
            <tr><td> </td></tr> 
            <tr><td>Telephone:  </td><td>415-946-5060</td></tr> 
            <tr><td>Fax: </td><td>415-946-3001</td></tr> 
            <tr><td>Email: </td><td>copyright@Skaeda.com</td></tr> 
        </table> 
        <p>UNDER FEDERAL LAW, IF YOU KNOWINGLY MISREPRESENT THAT ONLINE
        MATERIAL IS INFRINGING, YOU MAY BE SUBJECT TO CRIMINAL PROSECUTION FOR
        PERJURY AND CIVIL PENALTIES, INCLUDING MONETARY DAMAGES, COURT COSTS,
        AND ATTORNEYS’ FEES.</p> 
        <p>Please note that this procedure is exclusively for notifying Skaeda
        and its affiliates that your copyrighted material has been infringed.
        The preceding requirements are intended to comply with Skaeda' rights
        and obligations under the DMCA, including 17 U.S.C. §512(c), but do not
        constitute legal advice.  It may be advisable to contact an attorney
        regarding your rights and obligations under the DMCA and other
        applicable laws.</p> 
        <p>In accordance with the DMCA and other applicable law, Skaeda has
        adopted a policy of terminating, in appropriate circumstances and at
        Skaeda' sole discretion, members who are deemed to be repeat
        infringers. Skaeda may also at its sole discretion limit access to the
        Service and/or terminate the accounts of any Users who infringe any
        intellectual property rights of others, whether or not there is any
        repeat infringement.</p> 
        <h2>Third-Party Links</h2> 
        <p>Skaeda is not affiliated with, has no control over, and assumes no
        responsibility for, the content, privacy policies, or practices of any
        third party websites or services.  If you access a third party website
        from the Service, whether through your bookmarks, through any of the
        Skaeda Search and Discovery features,  or through any other means, you
        do so at your own risk, and you understand that this Agreement and
        Skaeda’ Privacy Policy do not apply to your use of such sites.  You
        expressly relieve Skaeda from any and all liability arising from your
        use of any third-party website or services or third party owned
        content.  Additionally, your dealings with or participation in
        promotions of advertisers found on the Service, including payment and
        delivery of goods, and any other terms (such as warranties) are solely
        between you and such advertisers. You agree that Skaeda shall not be
        responsible for any loss or damage of any sort relating to your
        dealings with such advertisers.</p> 
        <p>We encourage you to be aware of when you leave the Service, and to
        read the terms and conditions and privacy policy of any third-party
        website or service that you visit.
        Indemnity</p> 
        <p>You agree to defend, indemnify and hold harmless Skaeda and its
        subsidiaries, agents, managers, and other affiliated companies, and
        their employees, contractors, agents, officers and directors, from and
        against any and all claims, damages, obligations, losses, liabilities,
        costs or debt, and expenses (including but not limited to attorney's
        fees) arising from: (i) your use of and access to the Service,
        including any data or content transmitted or received by you; (ii) your
        violation of any term of this Agreement, including without limitation
        your breach of any of the representations and warranties above; (iii)
        your violation of any third-party right, including without limitation
        any right of privacy, publicity rights or Intellectual Property Rights;
        (iv) your violation of any law, rule or regulation of the United States
        or any other country; (v) any claim or damages that arise as a result
        of any of your User Content or any that is submitted via your account;
        or (vi) any other party’s access and use of the Service with your
        unique username, password or other appropriate security code.</p> 
        <h2>No Warranty</h2> 
        <p>THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.  USE
        OF THE SERVICE IS AT YOUR OWN RISK.  THE SERVICE IS PROVIDED WITHOUT
        WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT
        LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR PURPOSE, OR NON-INFRINGEMENT.  WITHOUT LIMITING THE
        FOREGOING, Skaeda, ITS SUBSIDIARIES, AND ITS LICENSORS DO NOT WARRANT
        THAT THE CONTENT IS ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE
        WILL MEET YOUR REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE AT ANY
        PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS
        OR ERRORS WILL BE CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR
        OTHER HARMFUL COMPONENTS.  ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED
        THROUGH THE USE OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU
        WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR
        LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD. </p> 
        <p>Skaeda DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME
        RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A
        THIRD PARTY THROUGH THE Skaeda SERVICE OR ANY HYPERLINKED WEBSITE OR
        SERVICE, OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND Skaeda
        WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY TRANSACTION BETWEEN
        YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. </p> 
        <p>The Service is provided "AS-IS" without warranty of any kind. Skaeda
        specifically disclaims any implied warranties of merchantability,
        fitness for a particular purpose, non-infringement, or the absence or
        presence of latent or other defects or errors. Some states do not allow
        the disclaimer of implied warranties, so the foregoing disclaimer may
        not apply to you.</p> 
        <h2>Limitation of Liability</h2> 
        <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL
        Skaeda, ITS AFFILIATES, DIRECTORS, EMPLOYEES OR ITS LICENSORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL
        OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF
        PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES, THAT RESULT
        FROM THE USE OF, OR INABILITY TO USE, THIS SERVICE.  UNDER NO
        CIRCUMSTANCES WILL Skaeda BE RESPONSIBLE FOR ANY DAMAGE, LOSS OR INJURY
        RESULTING FROM HACKING, TAMPERING OR OTHER UNAUTHORIZED ACCESS OR USE
        OF THE SERVICE OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN.
        </p> 
        <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, Skaeda ASSUMES NO
        LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR
        INACCURACIES OF CONTENT; (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF
        ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF OUR
        SERVICE; (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS
        AND/OR ANY AND ALL PERSONAL INFORMATION STORED THEREIN; (IV) ANY
        INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICE; (V)
        ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED
        TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; (VI) ANY ERRORS OR
        OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT
        OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE
        MADE AVAILABLE THROUGH THE SERVICE; AND/OR (VII) USER CONTENT OR THE
        DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY.  IN NO
        EVENT SHALL Skaeda, ITS AFFILIATES, DIRECTORS, EMPLOYEES, OR LICENSORS
        BE LIABLE TO YOU FOR ANY CLAIMS, PROCEEDINGS, LIABILITIES, OBLIGATIONS,
        DAMAGES, LOSSES OR COSTS IN AN AMOUNT EXCEEDING THE AMOUNT YOU PAID TO
        Skaeda HEREUNDER.</p> 
        <p>THIS LIMITATION OF LIABILITY SECTION APPLIES WHETHER THE ALLEGED
        LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR
        ANY OTHER BASIS, EVEN IF Skaeda HAS BEEN ADVISED OF THE POSSIBILITY OF
        SUCH DAMAGE.  THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE
        FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p> 
        <p>The Service is controlled and operated from its facilities in the
        United States.  Skaeda makes no representations that the Service is
        appropriate or available for use in other locations. Those who access
        or use the Service from other jurisdictions do so at their own volition
        and are entirely responsible for compliance with all applicable United
        States and local laws and regulations, including but not limited to
        export and import regulations.  You may not use the Service if you are
        a resident of a country embargoed by the United States, or are a
        foreign person or entity blocked or denied by the United States
        government.  Unless otherwise explicitly stated, all materials found on
        the Service are solely directed to individuals, companies, or other
        entities located in the United States.In no event will Skaeda or any of
        its employees, directors or officers be liable to you for any damages
        of any kind arising from the provision or failure to provide the
        Service or otherwise relating to the subject matter of the Terms,
        including, without limitation, any direct, special, punitive,
        exemplary, consequential or other indirect damages of any kind, whether
        any such claim for damages is based on warranty, contract, tort
        (including negligence), or otherwise, even if Skaeda has been advised
        of the possibility of such damages. Certain states and/or jurisdictions
        do not allow the exclusion or limitation of liability for incidental or
        consequential damages, so the exclusions set forth above may not apply
        to you.</p> 
        <h2>Protection of Children</h2> 
        <p>This Service is intended solely for Users who are thirteen (13)
        years of age or older, and any registration, use or access to the
        Service by anyone under 13 is strictly prohibited and in violation of
        this Agreement.  If you are under 18 years of age you may use the
        Service only if you either are an emancipated minor or possess legal
        parental or guardian consent, and are fully able and competent to enter
        into the terms, conditions, obligations, affirmations, representations,
        and warranties set forth in this Agreement, and to abide by and comply
        with this Agreement.</p> 
        <h2>Other</h2> 
        <ol style="list-style-type: upper-alpha"> 
            <li>Governing Law.  You agree that: (i) the Service shall be
            deemed solely based in California; and (ii) the Service shall be
            deemed a passive one that does not give rise to personal
            jurisdiction over Skaeda, either specific or general, in
            jurisdictions other than California.  This Agreement shall be
            governed by the internal substantive laws of the State of
            California, without respect to its conflict of laws principles. The
            application of the United Nations Convention on Contracts for the
            International Sale of Goods is expressly excluded.  Any claim or
            dispute between you and Skaeda that arises in whole or in part from
            the Service shall be decided exclusively by a court of competent
            jurisdiction located in Santa Clara County, California, unless
            submitted to arbitration as set forth in the following paragraph.
            </li> 
            <li>Arbitration.  For any claim (excluding claims for injunctive
            or other equitable relief) under this Agreement where the total
            amount of the award sought is less than $10,000, the party
            requesting relief may elect to resolve the dispute through binding
            non-appearance-based arbitration. The party electing such
            arbitration shall initiate the arbitration through an established
            alternative dispute resolution ("ADR") provider mutually agreed
            upon by the parties. The ADR provider and the parties must comply
            with the following rules: a) the arbitration shall be conducted by
            telephone, online and/or be solely based on written submissions, as
            selected by the party initiating the arbitration; b) the
            arbitration shall not involve any personal appearance by the
            parties or witnesses unless otherwise mutually agreed by the
            parties; and c) any judgment on the award rendered by the
            arbitrator may be entered in any court of competent
            jurisdiction.</li> 
            <li>Notification Procedures.  Skaeda may provide notifications,
            whether such notifications are required by law or are for marketing
            or other business related purposes, to you via email notice,
            written or hard copy notice, or through conspicuous posting of such
            notice on our website, as determined by Skaeda in our sole
            discretion. Skaeda reserves the right to determine the form and
            means of providing notifications to our Users, provided that you
            may opt out of certain means of notification as described in this
            Agreement.</li> 
            <li>Entire Agreement/Severability.  This Agreement, together with
            any other legal notices and agreements published by Skaeda via the
            Service, shall constitute the entire agreement between you and
            Skaeda concerning the Service.  If any provision of this Agreement
            is deemed invalid by a court of competent jurisdiction, the
            invalidity of such provision shall not affect the validity of the
            remaining provisions of this Agreement, which shall remain in full
            force and effect. </li> 
            <li>No Waiver.  No waiver of any term of this Agreement shall be
            deemed a further or continuing waiver of such term or any other
            term, and Skaeda' failure to assert any right or provision under
            this Agreement shall not constitute a waiver of such right or
            provision. </li> 
            <li>Assignment.  This Agreement, and any rights and licenses
            granted hereunder, may not be transferred or assigned by you, but
            may be assigned by Skaeda without restriction. </li> 
            <li>Relationship.  The Terms constitute the entire agreement
            between you and Skaeda regarding the Service, and supersede any
            prior agreements. You and Skaeda are independent entities, and
            nothing in these terms creates any partnership, joint venture,
            agency, franchise, sales representative or employment relationship.
            In the event that any provision of these Terms is held by a court
            to be unenforceable, the remaining Terms will continue in full
            force and effect. The Terms will be governed by the laws of the
            State of California, excluding its choice of law rules.</li> 
        </ol> 
        <p class="date">Effective Date: September 1, 2011</p>