<!-- <h2>{#TITOL#}</h2> -->
<h2 class='tos'>GENERAL TERMS AND CONDITIONS OF THE FREE ACCOUNT</h2>
<p>
The following is the contractual document which will govern the procurement of services through the web site <a href='https://skaeda.com'>https://skaeda.com</a> 
owned by Flexible User Experience SL (from now on Flux or the supplier). Acceptance of the present Terms of Service implies that the user:
</p>
<ol class='tos'>
<li>Has read and understood what is exposed herein.</li>
<li>Is a person capable to contract.</li>
<li>Assumes all the obligations stated herein.</li>
</ol>
<p>
These conditions will have an indefinite validity period and will apply exclusively to all contracts for free accounts made through 
the supplier's website <a href='https://skaeda.com'>https://skaeda.com</a>. Acceptance by the same user of a contract for a payment 
account (for now on premium) implies the ending and cancellation of these conditions which will be replaced by the general conditions of the premium account. 
The supplier reserves the right to modify unilaterally these Terms, which will not affect the goods, services or promotions which were acquired 
prior to the amendment.
</p>
<h2 class='tos'>IDENTITY OF THE PARTIES</h2>
<p>
On the one hand, the supplier of the services contracted by the user is Flux, with head office in 6, Sebastián Juan Arbó Ave, 
Amposta (Tarragona, Spain) and Company ID B55531727, registered in the Mercantile Registry of Tarragona, volume 2612, book 0, folio 151, section 8, 
page T42610, entry 1, and on the other hand, the user registered on the supplier's website with a user name, e-mail address and password, 
over those he or she has full responsibility of use and custody, being responsible for the accuracy of the personal data provided to the service supplier.
</p>
<h2 class='tos'>OBJECT OF SERVICE</h2>
<p>
The Sk&aelig;da application allows users to manage links to favourite websites (for now on bookmarks) from any browser with Internet access.
</p>
<h2 class='tos'>OBJECT OF THE CONTRACT</h2>
<p>
This contract is to regulate the contractual relationship that offers the service provision for an indefinite period of time for an amount of 0€. 
The service is limited to an initial capacity of 100 bookmarks per user. 
The limit of capacity can be increased up to 250 bookmarks (free of charge) by inviting other users to register to the service. 
The invitation process will be governed by the functions provided for this purpose in the application (see the section invitations located in the user menu). 
The user will get an extra amount of 50 bookmarks for each guest user to accepts the invitation and become a new user of the service.<br/>
The user of a free account is NOT entitled to receive technical support via email. The user of this type of account is NOT 
entitled to claim any tangible or intangible perjury caused, arising from or related to the use of the application. 
The service supplier is NOT responsible for any damage caused by the possible loss of information that the user had stored in the application. 
The supplier reserves the right to block the access to users for reasons of fraud or unauthorized access to the application.
</p>
<h2 class='tos'>RECRUITMENT</h2>
<p>
The recruitment procedure will be made only in English, Spanish or Catalan. If it could be done in another language, 
it will be indicated before starting the recruitment process. To access the services offered by the supplier, 
the user must register through the website <a href='https://skaeda.com/services/?fun=newaccount'>https://skaeda.com/services/?fun=newaccount</a> 
by creating a new user account. To do this, the user must provide required personal data freely and voluntary. 
The user will select a user name and password, pledging to make diligent use of them, and not to make them available to third parties, 
as well as to inform the supplier of their loss or robbery or the possible access by an unauthorized third party, 
so that the supplier can proceed to block them immediately. The user must not select as user name words that have the purpose of confusing others 
by identifying himself or herself as a staff member of the supplier, as well as offensive and insulting expressions or other generally contrary 
to law or the requirements of morality.
</p>
<h2 class='tos'>RIGHT OF WITHDRAWAL AND RESIGNATION</h2>
<ol class='tos'>
<li>The user has the right to waive the service provision by canceling his or her account by following the procedure 
established for that purpose in the application (see the preferences section in the user menu). 
Waiving the service provision involves the cancellation of this contract and the elimination of all user data recorded in the system.</li>
<li>In case that for any reason the supplier had to finish the business of the company, it reserves the right to terminate the contract 
with the user, who can claim nothing. The supplier undertakes to inform the user of the contract termination in an advance of 30 calendar 
days and to provide the user with the necessary mechanisms to export his or her data (bookmarks) stored in his or her user account.</li>
</ol>
<h2 class='tos'>APPLICABLE LAW AND JURISDICTION</h2>
<p>
These conditions will be governed by and construed in accordance with the Spanish legislation in what has not been expressly stated. 
The supplier and the user agree to submit any dispute that may arise from the provision of services under these 
Terms, to the Courts and Tribunals of the supplier (Amposta). In case that the user resides outside of Spain, the supplier and user, 
expressly waive any other court of justice, submitting to the courts of the city of Amposta in the province of Tarragona (Spain).
</p>
<h2 class='tos'>DOWNLOAD</h2>
<p>
Click <a href='http://www.skaeda.com/TOS-libre-en.pdf'>here</a> to download a copy of this contract.
</p>