<!-- <h2>{#TITOL#}</h2> -->
<h2 class='tos'>CONDICIONS GENERALS DE CONTRACTACIÓ DEL COMPTE LLIURE</h2>
<p>
A continuació s'exposa el document contractual que regirà la contractació de serveis a través del lloc web <a href='https://skaeda.com'>https://skaeda.com</a> propietat 
de Flexible User Experience, S.L. (en endavant Flux o el proveïdor). L'acceptació de les presents Condicions del Servei comporta que l'usuari:
</p>
<ol class='tos'>
<li>Ha llegit, entén i compren l'exposat aquí.</li>
<li>Que es una persona amb capacitat suficient per contractar.</li>
<li>Que assumeix totes les obligacions aquí dispostes.</li>
</ol>
<p>
Les presents condicions tindran un període de validesa indefinit i seran aplicables única i exclusivament a totes les contractacions de comptes lliures realitzades a través del lloc 
web <a href='https://skaeda.com'>https://skaeda.com</a> del proveïdor. 
L'acceptació per part d'un mateix usuari d'un contracte de compte de pagament per subscripció (en endavant premium) suposa la finalització i cancel.lació de les presents condicions 
que se substituiran per les condicions generals de contractació del compte premium. El proveïdor es reserva el dret a modificar unilateral-ment aquestes Condicions, sense que això 
pugui afectar als bens, serveis o promocions que foren adquirits prèviament a la modificació.
</p>
<h2 class='tos'>IDENTITAT DE LES PARTS</h2>
<p>
D'una part, el proveïdor dels serveis contractats per l'usuari es Flux, amb domicili social a Avda. Sebastià Joan Arbó, 6 Amposta (Tarragona) i CIF B55531727, inscrita al Registre 
Mercantil de Tarragona, tomo 2.612, llibre 0, foli 151, secció 8, fulla T42610, inscripció 1, i d'altra banda, el client, registrat al lloc web mitjançant un nom d'usuari, adreça de 
correu electrònic i contrasenya, sobre els que té responsabilitat plena d'us i custòdia, sent responsable de la veracitat de les dades personals facilitades al prestador.
</p>
<h2 class='tos'>OBJECTE DEL SERVEI</h2>
<p>
L'aplicació Sk&aelig;da permet al client gestionar adreces a pàgines web favorites (en endavant bookmarks) personals des de qualsevol navegador amb accés a Internet.
</p>
<h2 class='tos'>OBJECTE DEL CONTRACTE</h2>
<p>
El present contracte te per objecte regular la relació contractual de prestació que ofereix el servei durant un període de temps indefinit per un import de 0€. El servei esta limitat 
a una capacitat inicial de 100 bookmarks per usuari. El límit de la capacitat podrà augmentar fins a 250 bookmarks (sense cap cost addicional) invitant a altres usuaris a registrar-se al servei. 
El procediment d'invitacions es regirà per les funcions ofertes a tal efecte des de dins de l'aplicació (secció invitacions situada al menú d'usuari). L'usuari obtindrà un augment extra de 
50 bookmarks per cada usuari invitat que accepti la invitació i es converteixi en un nou usuari del servei.<br/>
L'usuari de la modalitat compte lliure NO tindrà dret a rebre suport tècnic personal a través de correu electrònic. L'usuari d'aquesta modalitat NO tindrà dret a reclamar cap perjudici material 
o immaterial originat, derivat o relacionat amb l'us de l'aplicació. El proveïdor del servei NO es fa responsable de cap tipus de dany ocasionat per la possible pèrdua de la informació que l'usuari 
tingués emmagatzemada a l'aplicació. El proveïdor es reserva el dret a bloquejar l'accés a usuaris per motius de frau o accés no autoritzat a l'aplicació.
</p>
<h2 class='tos'>PROCEDIMENT DE CONTRACTACIÓ</h2>
<p>
El procediment de contractació únicament podrà ser realitzat en l'idioma anglès, espanyol o català. En cas de que pugues fer-se amb un altre idioma serà indicat abans d'iniciar el procediment 
de contractació. L'usuari per poder accedir als serveis oferts pel proveïdor haurà de donar-se d'alta a través del lloc 
web <a href='https://skaeda.com/services/?fun=newaccount'>https://skaeda.com/services/?fun=newaccount</a> mitjançant la creació d'un compte nou d'usuari. Per a fer això, l'usuari haurà de 
proporcionar de manera lliure i voluntària les dades personals que li seran requerides. L'usuari seleccionarà un nom d'usuari i una contrasenya, comprometent-se a fer un us diligent dels mateixos, 
i no ficar-los a disposició de tercers, així com a comunicar al proveïdor la pèrdua o robatori dels mateixos o del possible accés per un tercer no autoritzat, de tal manera que aquest procedeixi 
al bloqueig immediat. L'usuari no podrà triar com a nom d'usuari paraules que tinguen com a finalitat, el confondre a altres per identificar a aquest com a membre integrant del proveïdor, 
així com expressions malsonants, injurioses i en general, contraries a la llei o a les exigències de la moral i les bones costums.
</p>
<h2 class='tos'>DRET DE DESISTIMENT I RENUNCIA</h2>
<ol class='tos'>
<li>El client tindrà dret a renunciar a la prestació del servei mitjançant la cancel.lació del seu compte seguint el procediment establert per a tal fi a l'aplicació (secció preferències 
del menú d'usuari). La renuncia a la prestació del servei suposa la cancel.lació d'aquest contracte i la eliminació de totes les dades de l'usuari registrats al sistema.</li>
<li>En el cas de que per qualsevol motiu el proveïdor tingués que finalitzar l'activitat comercial de l'empresa, es reserva el dret a finalitzar el contracte amb l'usuari sense que l'usuari 
pugui reclamar res. El proveïdor es compromet a comunicar a l'usuari la finalització del contracte amb una antelació de 30 dies naturals i oferirà a l'usuari els mecanismes necessaris per 
poder exportar la seva informació (bookmarks) emmagatzemats al seu compte d'usuari.</li>
</ol>
<h2 class='tos'>LLEI APLICABLE I JURISDICCIÓ</h2>
<p>
Aquestes condicions es regiran o interpretaran d'acord a la legislació espanyola en tot allò que no estigues expressament establert. El proveïdor i l'usuari acorden sotmetre qualsevol 
controvèrsia que pugues sorgir de la prestació dels serveis objecte d'aquestes Condicions, als Jutjats i Tribunals del domicili del proveïdor (Amposta). En el cas de que l'usuari tingues 
el seu domicili fora d'Espanya, el proveïdor i l'usuari renuncien expressament a qualsevol altre fòrum, sometent-se als Jutjats i Tribunals de la ciutat d'Amposta a la província de Tarragona (Espanya).
</p>
<h2 class='tos'>DESCARGA</h2>
<p>
Fes click <a href='http://www.skaeda.com/TOS-libre-ca.pdf'>aquí</a> per a descarregar una còpia d'aquest contracte amb format PDF.
</p>