<!-- <h2>{#TITOL#}</h2> -->
<h2>CONDICIONES GENERALES DE CONTRATACIÓN DE LA CUENTA LIBRE</h2>
<p>
A continuación se expone el documento contractual que regirá la contratación de servicios a través del sitio web <a href='https://skaeda.com'>https://skaeda.com</a> propiedad de 
Flexible User Experience SL (en adelante Flux o el proveedor). La aceptación de las presentes Condiciones del Servicio conlleva que el usuario:
</p>
<ol>
<li>Ha leído, entiende y comprende lo aquí expuesto.</li>
<li>Que es una persona con capacidad suficiente para contratar.</li>
<li>Que asume todas las obligaciones aquí dispuestas.</li>
</ol>
<p>
Las presentes condiciones tendrán un periodo de validez indefinido y serán aplicables única y exclusivamente a todas las contrataciones de cuentas libres 
realizadas a través del sitio web <a href='https://skaeda.com'>https://skaeda.com</a> del proveedor. 
La aceptación por parte de un mismo usuario de un contrato de cuenta de pago por subscripción (en adelante premium) supone la finalización y cancelación de las presentes condiciones 
que se substituirán por las condiciones generales de contratación de la cuenta premium. El proveedor se reserva el derecho de modificar unilateralmente dichas Condiciones, 
sin que ello pueda afectar a los bienes, servicios o promociones que fueron adquiridos previamente a la modificación.
</p>
<h2>IDENTIDAD DE LAS PARTES</h2>
<p>
Por una parte, el proveedor de los servicios contratados por el usuario es Flux, con domicilio social en Avda. Sebastián Juan Arbó, 6 Amposta (Tarragona) y C.I.F. B55531727, 
inscrito en el Registro Mercantil de Tarragona, tomo 2.612, libro 0, folio 151, sección 8, hoja T42610, inscripción 1, y de otra parte, el usuario, registrado en el sitio web 
mediante un nombre de usuario, dirección de correo electrónico y contraseña, sobre los que tiene responsabilidad plena de uso y custodia, siendo responsable de la veracidad de 
los datos personales facilitados al prestador.
</p>
<h2>OBJETO DEL SERVICIO</h2>
<p>
La aplicación Sk&aelig;da permite al usuario gestionar direcciones a páginas web favoritas (en adelante bookmarks) personales desde cualquier navegador con acceso a Internet.
</p>
<h2>OBJETO DEL CONTRATO</h2>
<p>
El presente contrato tiene por objeto regular la relación contractual de prestación que ofrece el servicio durante un período de tiempo indefinido por un importe de 0€. 
El servicio está limitado a una capacidad inicial de 100 bookmarks por usuario. El límite de la capacidad podrá aumentar hasta 200 bookmarks (sin ningún coste adicional) 
invitando a otros usuarios a registrarse al servicio. El procedimiento de invitaciones se regirá por las funciones ofrecidas a tal efecto desde dentro de la aplicación 
(sección invitaciones situada en el menú de usuario). El usuario obtendrá un aumento extra de 25 bookmarks por cada usuario invitado que acepte la invitación y se convierta 
en un nuevo usuario del servicio. <br/>
El usuario de la modalidad de cuenta libre NO tendrá derecho a recibir soporte técnico personal a través de correo electrónico. 
El usuario de dicha modalidad NO tendrá derecho a reclamar ningún perjurio material o inmaterial originado, derivado o relacionado con el uso de la aplicación. 
El proveedor del servicio NO se hace responsable de ningún tipo de daño ocasionado por la posible pérdida de la información que el usuario tuviera almacenada en la aplicación. 
El proveedor se reserva el derecho bloquear el acceso a usuarios por motivos de fraude o acceso no autorizado a la aplicación.
</p>
<h2>PROCEDIMIENTO DE CONTRATACIÓN</h2>
<p>
El procedimiento de contratación únicamente podrá ser realizado en el idioma inglés, español o catalán. En caso de que pudiera llevarse a cabo en otro idioma será indicado 
antes de iniciar el procedimiento de contratación. El usuario para poder acceder a los servicios ofrecidos por el proveedor, deberá darse de alta a través del 
sitio web <a href='https://skaeda.com/services/?fun=newaccount'>https://skaeda.com/services/?fun=newaccount</a> mediante la creación de una cuenta nueva de usuario. 
Para ello, el usuario deberá proporcionar de manera libre y voluntaria los datos personales que le serán requeridos. El usuario seleccionará un nombre de usuario y una contraseña, 
comprometiéndose a hacer uso diligente de los mismos, y no ponerlos a disposición de terceros, así como a comunicar al proveedor la pérdida o robo de los mismos o del 
posible acceso por un tercero no autorizado, de tal forma que éste proceda al bloqueo inmediato. El usuario no podrá elegir como nombre de usuario palabras que tengan como fin, 
el confundir a otros por identificar a éste como miembro integrante del proveedor, así como expresiones malsonantes, injuriosas y en general, contrarias a la ley o a las 
exigencias de la moral y buenas costumbres.
</p>
<h2>DERECHO DE DESISTIMIENTO Y RENUNCIA</h2>
<ol>
<li>El usuario tendrá derecho a renunciar a la prestación del servicio mediante la cancelación de su cuenta siguiendo el procedimiento establecido para tal fin en 
la aplicación (sección preferencias del menú de usuario). La renuncia a la prestación del servicio supone la cancelación de este contrato y la eliminación de 
todos los datos del usuario registrados en el sistema.</li>
<li>En el caso de que por cualquier motivo el proveedor tuviera que finalizar la actividad comercial de la empresa se reserva el derecho a finalizar el 
contrato con el usuario sin que el usuario pueda reclamar nada. El proveedor se compromete a comunicar al usuario la finalización del contrato con una antelación de 
30 días naturales y ofrecerá al usuario los mecanismos necesarios para poder exportar su información (bookmarks) almacenados en su cuenta de usuario.</li>
</ol>
<h2>LEY APLICABLE Y JURISDICCIÓN</h2>
<p>
Estas condiciones se regirán o interpretarán conforme a la legislación española en aquello que no este expresamente establecido. 
El proveedor y el usuario, acuerdan someter cualquier controversia que pudiera suscitarse de la prestación de los servicios objeto de éstas Condiciones, a los Juzgados y 
Tribunales del domicilio del proveedor (Amposta). En el caso de que el usuario tenga su domicilio fuera de España, el proveedor y el usuario, renuncian expresamente a 
cualquier otro foro, sometiéndose a los Juzgados y Tribunales de la ciudad de Amposta en la provincia de Tarragona (España).
</p>