<p>
	El cazamariposas (botón) es un enllace que puedes añadir a la barra de marcadors de tu navegador. 
	Es una forma fácil de añadir cualquier página web que tengas en la pantalla del navegador a tu cuenta de usuario Sk&aelig;da.
</p>
<ul class="llista_gen2">
	<li>Asegúrate que la barra de marcadores de tu navegador esté visible</li>
	<li>Arrastra el cazamariposas a la barra de marcadores</li>
	<li>Una vez instalado en tu navegador, el botón 'Guardar a Sk&aelig;da' te permite subir cualquier página web a tu cuenta</li>
	<li>Haz click en el botón mientras navegas por la web y disfruta!</li>
</ul>

<!-- 
	<ul class="llista_gen2">
		<li>Un bookmarklet (botón) es un enllace que añades en la barra de favoritos de tu navegador</li>
		<li>Es la forma más fácil de guardar en Sk&aelig;da cualquier página web que estés visitando</li>
		<li>¡Mueve el bookmarklet hasta la barra de favoritos y disfruta!</li>
	</ul>
-->