<p>
  Un bookmarklet és un botó que es pot afegir a la barra de favorits del teu navegador web. El navegador tracta el botó com un enllaç més, però clicant a sobre d'ell et permet desar l'adreça web que estàs visualitzant en aquell moment a Sk&aelig;da. És per això que ens agrada anomenar el "caçapallones" al nostre bookmarklet.
</p>
<p>
	A continuació es descriu com afegir el caçapapallones (botó 'Desar a Sk&aelig;da' que trobaràs més avall) a la barra de favorits del teu navegador, així com algunes questions a tenir en compte a l'hora d'utilitzar-lo:
</p>
<ul class="llista_gen2">
	<li>Assegura't que la barra de favorits del teu navegador estigui visible</li>
	<li>Arrossega el caçapallones a la barra de favortis</li>
	<li>Visita alguna pàgina que et resulti interessant o útil i que necessites desar</li>
	<li>Prem el botó 'Desar a Sk&aelig;da' per a desar la pàgina web al teu compte</li>
	<li>No és necessari que tinguis oberta l'aplicació Sk&aelig;da per a què el caçapallones funcioni</li>
	<li>Fes click al botó mentre navegues per la web i gaudeix!</li>
</ul>

<!-- 
	<ul class="llista_gen2">
		<li>Un bookmarklet (botó) és un enllaç que afegeixes a la barra de favorits del teu navegador</li>
		<li>És la forma més fàcil de desar a Sk&aelig;da qualsevol pàgina web que estiguis visitant</li>
		<li>Mou el bookmarklet fins la barra de favorits i disfruta!</li>
	</ul>
-->