<p>
	Un bookmarklet (botó) és un enllaç que pots afegir a la barra de marcadors del teu navegador. 
	És una forma fàcil d'afegir qualsevol pàgina web que tinguis a la pantalla del navegador al teu compte d'usuari Sk&aelig;da.
</p>
<ul class="llista_gen2">
	<li>Assegura't que la barra de marcadors del teu navegador estigui visible</li>
	<li>Arrossega el bookmarklet a la barra de marcadors</li>
	<li>Un cop instal·lat al teu navegador, el botó 'Guardar a Sk&aelig;da' et permet pujar qualsevol pàgina web al teu compte</li>
	<li>Fes click al botó mentre navegues per la web i gaudeix!</li>
</ul>

<!-- 
	<ul class="llista_gen2">
		<li>Un bookmarklet (botó) és un enllaç que afegeixes a la barra de favorits del teu navegador</li>
		<li>És la forma més fàcil de desar a Sk&aelig;da qualsevol pàgina web que estiguis visitant</li>
		<li>Mou el bookmarklet fins la barra de favorits i disfruta!</li>
	</ul>
-->