<p>
	Bookmarklet (button) is a link that you add to your browser’s Bookmarks Toolbar. This is an easy way to push the current web page you are watching to your Sk&aelig;da user account.
</p>
<ul class="llista_gen2">
	<li>Be sure that you have the Bookmarks toolbar visible</li>
	<li>Drag the bookmarklet up to your Bookmarks toolbar</li>
	<li>Once installed in your browser, the 'Save to Sk&aelig;da' button lets you push any website to your account</li>
	<li>When you are browsing the web, click the button and enjoy! </li>
</ul>
