<p>
	Un bookmarklet es un botón que se puede añadir a la barra de favoritos de tu navegador web. El navegador trata el botón como un enlace más, pero al pulsarlo puedes guardar la dirección web que estés visualizando en ese momento a Sk&aelig;da. Es por eso que nos gusta llamar el "cazamariposas" a nuestro bookmarklet.
</p>
<p>
  A continuación se describe cómo añadir el cazamariposas (botón 'Guardar a Sk&aelig;da' que encontrarás más abajo) en la barra de favoritos de tu navegador, así como algunas cuestiones a tener en cuenta a la hora de utilizarlo:
</p>
<ul class="llista_gen2">
	<li>Asegúrate que la barra de marcadores de tu navegador esté visible</li>
	<li>Arrastra el cazamariposas a la barra de favoritos</li>
	<li>Visita alguna página que te resulte interesante o útil y que necesites guardar</li>
	<li>Pulsa el botón 'Guardar a Sk&aelig;da' para guardar la página web en tu cuenta</li>
	<li>No es necesario que tengas abierta la aplicación Sk&aelig;da para que el cazamariposas funcione</li>
	<li>Haz click en el botón mientras navegas por la web y disfruta!</li>
</ul>

<!-- 
	<ul class="llista_gen2">
		<li>Un bookmarklet (botón) es un enllace que añades en la barra de favoritos de tu navegador</li>
		<li>Es la forma más fácil de guardar en Sk&aelig;da cualquier página web que estés visitando</li>
		<li>¡Mueve el bookmarklet hasta la barra de favoritos y disfruta!</li>
	</ul>
-->