/* Full d'estil CSS*/

/* Elements basics HTML */
html {
	margin: 0;
	padding: 0;
}

body { 
	font-family: Arial, "serif";
	line-height: normal;
	color: #000000; 
	background: #F2F2F2;
	margin: 0; 
	padding: 0;
	display: block;
	background:  url(img/cloud-background.png) repeat-x #80C9FF;
}

p { 
	margin-top: 0; 
	text-align: justify;
	font-size: 14px;
}

a:link, a:visited {
	color: #444;
	font-weight: bold; 
	text-decoration: none; 
}

a:active, a:hover {
	color: #000000;
	font-weight: bold; 
	text-decoration: none;
}

div {
	border-color: #444;
	border-style: none;
	border-width: thin;
	font-size: 12px;
	margin: -1px auto 0px auto;
	padding: 10px;
	position: relative;
}

#header {
	background-color: transparent;
	color: #000000;
	height: 30px;
	width: 500px;
	padding: 25px 0px 15px 0px;
	margin: 0px auto;
}

#logo_img {
	position: relative;
	height: 31px;
	width: 192px;
	margin: 0;
	padding: 0;
	background-image: url(img/logo_empresa.png);
	border: none;
}

#main {
	background-color: #FEFEFE;
	color: #FFF;
	height: 500px;
	width: 470px;
	padding: 0px 15px;
	margin: 0px auto;
	border-radius:         9px 9px 0px 0px;
    -moz-border-radius:    9px 9px 0px 0px;
    -ms-border-radius:     9px 9px 0px 0px;
    -webkit-border-radius: 9px 9px 0px 0px;
    -khtml-border-radius:  9px 9px 0px 0px;
    -moz-box-shadow:       0px 3px 5px #555;
    -webkit-box-shadow:    0px 3px 5px #555;
    box-shadow:            0px 3px 5px #555;
}

#main p {
	color: #444;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 25px 0;
}

#main h1 {
	margin: 0;
	padding: 40px 0;
	color: #666;
	font-size: 70px;
	text-align: center;
}

#main h4 {
    color: #666;
    font-size: 16px;
    text-align: center;
    margin: 0;
	padding: 0px 0px 15px 0px;
}

#main table {
	border-collapse: collapse;
	font-size: 14px;
	color: #C60;
	text-align: left;
	border: none;
	margin: 0px auto;
}

#main table, td {
	padding: 5px;
}

#main th {
	color: #C60;
	border-bottom: solid 1px #C60;
}

#footer {
	color: #666;
	background-color: #FEFEFE;
	height: 12px;
	width: 500px;
	padding: 0px 0px 14px 0px;
	text-align: center;
	border-radius:         0px 0px 9px 9px;
    -moz-border-radius:    0px 0px 9px 9px;
    -ms-border-radius:     0px 0px 9px 9px;
    -webkit-border-radius: 0px 0px 9px 9px;
    -khtml-border-radius:  0px 0px 9px 9px;
    -moz-box-shadow:       0px 3px 5px #555;
    -webkit-box-shadow:    0px 3px 5px #555;
    box-shadow:            0px 3px 5px #555;
}

#footer p {
	color: #444;
	text-align: center;
	font-size: 10px;
	vertical-align: middle;
}

#subfooter {
	color: #222;
    text-align:      center;
    height: 30px;
	width: 500px;
    margin:          0 auto;
}